@font-face {
    font-family: circular;
    src: url('./src/fonts/circular-std-medium-500.ttf') format("truetype");
  };

@font-face {
    font-family: srcStd;
    src:url('./src/fonts/FontsFree-Net-CircularStd-Black.ttf') format("truettype");
}