.butons-con{
    display: flex;
  }
  .next{
    background-color: black;
    width: 300px;
    height: 200px;
  }
  .prev{
    background-color: red;
    width: 300px;
    height: 200px;
  }
  .card{
    width: 500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-padding{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-h1{
    color: red;
  }
  .card-p{
    color: green;
  }
  .card-p2{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secf-cont{
    width: 1000px;
    height: 600px;
    margin-top: 10px;
  }
  