.secb-cont{
    background-color: rgb(10, 69, 69);
    width: 100%;
    height: 100%;
    padding: 0px 165px 0px 165px;
}
.secb-cen-con{
    background-color: blue;
    width: auto;
    height: auto;
}
.secb-head{
    background-color:rgb(85, 8, 8);
    height: 228px;
}
.secb-deco{
    position: absolute;
    top:-40px;
    right:-140px;
}