.slider-cont{
    margin-top: 100px;
}
.slider-cont ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.vvv{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}