.swiper-auto {
  display: flex;
  justify-content: center;
  align-items: center;
    margin-top:200px;
    width: 1200px;
    height: 200px;
    /* gap: 0px; */
  }
  #swiper-wrapper-275da6f9a10651212{
    width:211px;
    height: 32px;
  }
  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width:211px;
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:211px;
    height: 32px;
  }
.decoration-slider{
  position: relative;
  right: 800px;
  top:260px;
}
