@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #353434;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.index1{
  margin: auto;
  width: 100%;
  max-width: 1440px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.son{
  position: absolute;
  left:-100px; top:-290px;
  width: 700px;
  height: 700px;
  border-radius: 9900px;
  opacity:0.50;
  background: #FF5722;
  filter: blur(700px);
  z-index: 0;
}

.d{
  z-index: 3;
  color: #FF5722;
}

.main-cont {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.swiper-slide{
  justify-content: start !important;
}