@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #353434;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
.son{
  position: absolute;
  left:-356px; top: -223px;
  width: 500px;
  height: 500px;
  border-radius: 9900px;
  opacity:0.50;
  background: #FF5722;
  filter: blur(500px);
  z-index: 0;
  box-shadow: 500px 500px 500px;
}
.index1{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}



.d{
  z-index: 3;
  color: #FF5722;
}